body {
	background:url(../images/bg.jpg) repeat;
}


.wrapper {
	width:980px;
	margin:0 auto;
	padding:10px 15px;
	border:2px solid green;
}
.content {}

/*-- HEADER --*/

h1 {
	font-size:26px;
	font-style:italic;
	color:red;
}

h2 {
	font-size:20px;
	text-align:center;
}

.info {
	font-style:italic;
}

.author,
.views,
.time {
	margin-right:10px;
}

.author span,
.views span,
.time span {
	font-weight:bold;
}

.quote {
	padding:0;
	padding-bottom:15px;
	margin:0;
	border-bottom:1px solid navy;
	text-align:right;
	font-style:italic;
	line-height:2;
}

/*-- CONTENT--*/
.article-nav {
	color:blue;
	line-height:2;
}

/*-- TECHNOLOGIES BLOCK --*/
.technology {
	overflow:hidden;
}

.technology-image {
	float:left;
	margin:0;
	margin-right:20px;
	text-align:center;
}

.technology-image img {
	display:block;
	width:200px;
}

.technology-image figcaption {
	padding:5px 7px;
	background:#e5e5e5;
	color:blue;
	font-weight:700;
}





